@charset "utf-8";

.post_area{
    min-width: none;
    max-width: 800px;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.534);
    border: 2px solid black;
    border-radius: 3px;
}